<!-- Google tag (gtag.js) -->
<!-- Please remove this tag if you are building yoru own website! -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-EYCVB1QMRM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-EYCVB1QMRM');
</script>

<header class="site-header" role="banner" id='header-bar'>

    <div class="wrapper">
        {% assign default_paths = site.pages | map: "path" %}
        <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

        <nav class="site-nav">
            <a class="page-link" href="{{ "/" | relative_url }}"> Home</a>
            <a class="page-link" href="{{ "/blog" | relative_url }}"> Blog</a>
            <a class="page-link" href="{{ "/misc" | relative_url }}"> Misc</a>
        </nav>
    </div>

</header>

<script>
var prevScrollpos = window.pageYOffset;
window.onscroll = function() {
var currentScrollPos = window.pageYOffset;
  if (prevScrollpos > currentScrollPos) {
    document.getElementById("header-bar").style.top = "0";
  } else {
    document.getElementById("header-bar").style.top = "-50px";
  }
  prevScrollpos = currentScrollPos;
}
</script>
